# Where to put the built docker image
REPO="shoginn/dump1090"

# Base image for each arch
BASE=alpine

# Architectures to build
ARCHITECTURES="arm arm64 amd64"

# Metadata Variables
MAINTAINER="ginnserv@gmail.com"
NAME="Docker ADS-B - dump1090"
DESCRIPTION="Docker container for ADS-B - This is the flightaware dump1090 component"
URL="https://github.com/ShoGinn/dump1090"
